#nnn{
.main-navbar-nav{
    float: right;
    margin-top:10px;
}
#menu11{
    margin-top: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 2px solid #1AB100;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    li{
        a{
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            text-decoration: none;
            &:hover{
                color:#1AB100;
            }
            font-family: Raleway, sans-serif;
        }
    }
}
#menu1{
    li{
        background-color: white;
    }
    a{
        background-color: white;
        color: #1AB100;
    }
    #a1{
    background-image: none;
    -webkit-box-shadow:none; 
    box-shadow: none;
    }
}
#menu22{
    border-radius: 0;
    border-top: 2px solid #1AB100;
}
#menu2{ 
    a{
    color: black;
    &:hover{
        color:#1AB100;
    }
}}
#menu3{
    #a2{
        color: black;
        &:hover{
            color:#1AB100;
        }
    }
}
#menu4{
    a{
        color: black;
        &:hover{
            color:#1AB100;
        }
    }
}
#menu5{
    a{
        color: black;
        &:hover{
            color:#1AB100;
        }
    }
}
#menu6{
    a{
        color: black;
        &:hover{
            color:#1AB100;
        }
    }
}
#menu7{
    a{
        color: black;
        &:hover{
            color:#1AB100;
        }
    }
}
#menu33{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    width: 1150px;
    height: 500px;
    top: 100%;
    left: -600px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    li{
        a{
            font-family: Raleway, sans-serif;
            background-image: none;
        }
    }
    
}
#homeli66{
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
    left: 167px;
    top: -9px;
    border-top: 2px solid #1AB100;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-left:none;
}
#homeli99{
    position: absolute;
    top: -5px;
    left: 170px;
    border-radius: 0;
    border-top: 2px solid #1AB100;
}
#a1{
    color: #5c9d14;
    font-family: Raleway, sans-serif;
    background-color: white;
}
#a2{
    background-color: white;
}
#li3{
    margin: 15px 10px;
    &:hover{
        a{color:#5c9d14;}
        cursor: pointer;
    }
    a{
        color: black;
        text-decoration: none;
    }
}
.navbar2{
    position: absolute;
    left: 197px;
    border-left: none;
    box-shadow: none;
    top:-9px;
    border-radius: 0;
    border-top: 2px solid #1AB100;
}

#menu33{
    border-top: 2px solid #1AB100;
}
.navbar3{
    position: absolute;
    left: 195px;
    border-left:none;
    box-shadow:none;
    top:-9px;
    border-radius: 0;
    border-top: 2px solid #1AB100;
}
#menu44{
    border-top: 2px solid #1AB100;
}
.nav4{
    left: 169.3px;
    box-shadow: none;
    border-left:none;
    border-top: 2px solid #1AB100;
    border-radius: 0px;
    top: -9px;
}
#menu55{
    border-top: 2px solid #1AB100;
}
.nav5{
    left: 162px;
    top: -9px;
    border-top:2px solid #1AB100;
    border-radius: 0;
    left: 167px;
    box-shadow: none;
    border-left: none;
}
#menu66{
    border-top: 2px solid #1AB100;
}
#menu77{
    border-top: 2px solid #1AB100;
}
// #shopcard1{
//     width: 300px;
//     float: left;
//     #title1{
//         font-weight: 800;
//         margin-right: 45px;
//     }
//     #clear1{
//         margin-top:30px;
//         .img-responsive{
//             width: 50px;
//         }
//         #text1{
//             float: left;
//             display: inline-block;
//             margin-top: 8px;
//         }
//         button{   
//         margin-left: 134px;
//     }
//     }
// }
.shop-icon{
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    i{
        text-align: center;
        float: left;
        margin: 10px;
        font-size: 30px;
    }
    button{
        position: absolute;
        right: -5px;
        top: -5px;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        border: none;
        background: #1AB100;
        color:white;
    }
    #shop-div{
    width: 300px;
    height: 300px;
    position: absolute;
    border-top:2px solid #1AB100;
    float: left;
    margin-left: -233px;
    margin-top: 50px;
    background: white;
    border-radius: 0;
    border-top: 2px solid #1AB100;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: none;
    p{
        color: #aaaaaa;
        font-weight: 700;
        margin-left: 10px;
        margin-top:15px;
        span{
            color: #1AB100;
        }
    }
    .items2{
        float: left;
        position: relative;
        width: 100%;
        height: 100px;
        img{
            width: 50px;
            margin-left: 10px;
        }
        p{
            margin-top: -50px;
            margin-left: 70px;
            font-weight: 500;
        }
        #differp{
            margin-top:0px;
            margin-left: 70px;
        }
        i{
            float: right;
            margin-top: -25px;
            margin-right: 34px;
            font-size: 15px;
            color: #aaaaaa;
        }
    }
    .total{
        font-size: 20px;
        position: absolute;
        bottom: 30px;
    }
    button{
        margin-top: 233px;
        margin-right: 40px;
        width: 100px;
        color: white;
        border: none;
        &:hover{
            background-color: rgb(80, 128, 26);
        }
    }
    .differp{
        text-align: center;
        margin-top: 232px;
    }
}
}

#shopcard{
    background-color: #1AB100;
    color: white;
    border: none;
    &:hover{
        background-color: rgb(32, 136, 14);
    }
}
.navbar-fixed-top{
    background-color: white;
}
#main-nav-collapse{
    background-color: white;
}
}

// ------------------------------------------------------------------------------------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;    
    // border: 1px solid black;
}
a:hover {
    text-decoration: none;
}
$textcolor: #636363;
$pcolor: #8c8c8c;
$greencolor: #69B417;
.navbar {
    height: 80px;
    background: white;
}
.building {
    height: 700px;
    background: url("all-images/building.png");
    background-size: cover;
    background-position: center;
    & .morphext {
        margin-top: 250px;
        color: $textcolor;
        & h3 {
            font-size: 20px;
        }
        & h2 {
            font-size: 35px;
        }
        & .btn {
            width: 110px;
            height: 40px;
            border-radius: 2px;
            border: none;
            margin-top: 30px;
            color: white;
            background: #69B417
        }
        & .btn-success:hover {
            background: #61a615;
        }
        & .learnmore {
            margin-left: 15px;
            background: #71787B;
        }
    }
}
.threedivs {
    height: 300px;
    text-align: center;
    padding-top: 30px;
    & i, & p {
        color: $pcolor;
        font-weight: bold;        
    }
    & a {
        color: #69B417;
    }
    & h3 {
        color: $textcolor;
        font-size: 15px;
        font-weight: bold;
    }
}

.story {
    height: 500px;
    & h1 {
        color: $textcolor;
        font-weight: bold;
        margin-bottom: 20px;
        
    }
    & h2 {
        color: $textcolor;
        font-weight: bold;
    }
    & p {
        color: $pcolor;
    }
    & .tab2, & .tab3, & .tab4, & .tab5 {
        display: none;
    }
 
    & .margintop {
        margin-top: 20px;
        & .marginleft {
            margin-left: 25%;
            & ul, & li {
                display: inline;
                text-align: center;
                & a {
                    border-color: #eee;
                    border: 1px solid #eee;
                    background-color: white;
                    color: #fff;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    display: inline-block;
                    margin-right: 40px;
                    color: $pcolor;
                }
              
                & a:after {
                    content: '';
                    display: block;
                    position: relative;
                    bottom: 30px;
                    margin: 0 auto;
                    width: 42px;
                    height: 1px;
                    background-color: #eee;
                    left: 48px;
                 
                }
                & a:hover {
                    background: #eee;
                }
                & a:active {
                    background-color: #69B417;  
                    border: none;
                    color: white;                  
                }
            }
            li:last-child{
                a:after{
                    display: none;
                }
            }

        }
     
    }
   
}
.WhatWeDo {
    height: 500px;
    & h1 {
        color: $textcolor;
        font-weight: bold;
        margin-bottom: 20px;
    }
    & i {
        color: $greencolor;
        margin-top: 10px;
    }
    & h4 {
        color: $textcolor;
        font-weight: bold;
    }
    & p {
        color: $pcolor;
    }
}
.OurPortfolio {
    height: 600px;
    & h1 {
        color: $textcolor;
        font-weight: bold;
        margin-bottom: 20px;
        
    }
    & .owl-carousel {
        & .active {
            border: 1px solid #eee;  
        }
        .col-md-12 {
            box-shadow: 1px 1px 5px #eee;
       
            text-align: center;  
            & h3 {
                margin-top: 30px;
                color: $textcolor;
                margin-bottom: 30px;
                font-weight: bold;
                font-size: 20px;
            }   
            & p {
                color: $pcolor;
                margin-bottom: 30px;
            }
            & button {
                background: $greencolor;
                color: white;
                width: 120px;
                height: 35px;
                border: none;
                border-radius: 2px;
                margin-bottom: 20px;
            }
        }
        
    }
}

.Pricing {
    height: 500px;
    & h1 {
        color: $textcolor;
        font-weight: bold;
        margin-bottom: 20px;
    }
    & .agshin15{
        height: 115px;
        float: left;
        top: 8px;
        left: 13px;
        width: 46%;
        position: absolute;
        background-color: gray;
        transform: skew(0deg , 6deg);
    }
    & .agshin16{
        height: 115px;
        float: right;
        top: 8px;
        right: 13px;
        width: 45%;
        position: absolute;
        background-color: gray;
        transform: skew(0deg , -6deg);
    }
    & .agshin17{
        background-color: #69B417;
    }
    & .gray {
        background: gray;
        color: white;
        text-align: center;
    }
    & .bgcolor {
        background: #eee;
        color: white;
        text-align: center;
        border-right: 2px solid white;
        & p {
            color: $pcolor;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        & button {
            background: #71787B;
            color: white;
            width: 110px;
            height: 35px;
            margin-bottom: 20px;
            border: none;
        }
        & button:hover {
            background: #5d6366;
        }
        & .btngreen {
            background: $greencolor;
            &:hover {
                background: #5c9d14;
            }
        }
        & .colgreen {
            background: $greencolor;
        }
      
    }
}
#twodiv1{
    height: 115px;
    float: left;
    top: 8px;
    left: 13px;
    width: 50%;
    position: absolute;
    background-color: gray;
    transform: skew(0deg , 6deg);
}
.jqactive22{
    display: none;
    transition: 2s;
}
.jqactive33{
    transition: 2s;
    display: none;
}
.jqactive44{
    transition: 2s;
    display: none;
}
.jqactive55{
    transition: 2s;
    display: none;
}
.slider {
    height: 400px;
    text-align: center;
    & .slick-slider {
        width: 35%;
        margin: 0 auto;
        outline: none;
    }
    & h1 {
        color: $pcolor;
        margin-top: 100px;
        font-weight: bold;
        font-size: 20px;
    }
    & h2, & h3 {
        color: $pcolor;
        font-size: 15px;
        font-weight: bold;
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-left: 160px;
        margin-top: 20px;
    }
    .slick-dots li button:before {
        font-size: 10px;
        line-height: 20px;
    }
    .slick-slide{
        outline: none;
    }
}

.Logos {
    height: 300px;
    text-align: center;
    .container {
        border-bottom: 1px solid $pcolor;
    }
    .marginbottom {
        margin-bottom: 30px;
    }
    p {
        text-align: center;
        color: $pcolor;
        font-weight: bold;
        margin-bottom: 20px;
    }
    & ul, & li{
        display: inline;
        margin-left: 40px;
        margin-right: 46px;
    }
}
.input {
    height: 500px;
    margin-top: -50px;
    .container {
        border-bottom: 1px solid $pcolor;
    }
    .col-md-8 {
        margin-left: 180px;
        text-align: center;
        & h2 {
            margin-bottom: 30px;
            color: $textcolor;
        }
        & h4, & p {
            color: $pcolor;
            font-weight: bold;        
        }
        a {
         color: $greencolor;
        }
        .col-md-6 {
            margin: 0 auto;
            margin-top: 20px;
            input, button {
                height: 50px;
                margin-bottom: 50px;
            }
        }
    }
}
.footer {
    height: 40px;
    margin-top: -200px;
    & ul, & li {
        display: inline;
        a {
            color: $pcolor;
            padding-right: 10px;
           
        }
    }
    & p {
        color: $pcolor;
        margin-top: 5px;
    }
    .right {
        ul {
            float: right;
            a {
                border: 1px solid $pcolor;
                padding: 8px;
                border-radius: 100%;
                margin-left: 5px;
                i {
                    padding-left: 2px;
                    color: $pcolor;
                }
            }
        }
        a:hover {
            background: $pcolor;
            & i {
                color: white;
                
            }
        }
    }
  
}

